*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
*.pdf
# Ignore .snakemake directory
.snakemake/

# Ignore .git directory (Git submodules)
.git/

# Ignore Python cache files and directories
__pycache__/

*.pyo
*.p
